<h1>인스타그램입니다.</h1>
<p id="ptag">당신의 이름을 입력해주세요</p>
<%= form_tag "", method: :get, id: "name_input" do%>
  <%= text_field_tag :keyword %>
  <%= submit_tag :hello %>
<% end %>

<script>
  $(function(){
    var form = $('#name_input');
    form.on('submit', function(e){
        e.preventDefault();
        var name = $('#keyword').val();
        // $('#keyword').text("");
        $('#ptag').text(name+"님 환영합니다.");
    });
  });
</script>
